<?xml version="1.0" encoding="UTF-8"?>
<logmonitor xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="config.xsd" >
	<!--
		Each 'log' element corresponds to a log file to be monitored, names must be unique,
		types must be valid monitor types defined in the 'monitors' section below. 
		
		The value of the 'location' attribute depends on what type of monitor has been selected; 'test'
		monitors ignore the location value, 'log' and 'file' monitors expect an absolute path to a
		file on the local file system.
		
		Filter values should be valid java.util.Pattern regular expressions.
	-->
	<logs>
		<log name="av.biz" type="log" location="..\..\av.biz\log\server.log">
			<options showDividers="true" interval="5" lines="200" />
			<styles>
				<style/>
				<style/>
				<style/>
				<style/>
				<style/>
				<style/>
			</styles>
		</log>
		<log name="av.web" type="log" location="..\log\server.log">
			<options showDividers="true" interval="10" lines="200" />
			<styles>
				<style/>
				<style/>
				<style/>
				<style/>
				<style/>
				<style/>
			</styles>
		</log>
		<log name="av.cfmx" type="log" location="..\..\av.cfmx\log\server.log" >
			<options showDividers="true" interval="5" lines="200" />
			<styles>
				<style/>
				<style/>
				<style/>
				<style/>
				<style/>
				<style/>											
			</styles>
		</log>
	</logs>  
	
	<!--
		All log types mentioned in the 'logs' section must have an entry here. All monitor classes 
		must extend the class net.noip.codebox.logmonitor.target.AbstractMonitor
	-->
	<monitors>
		<monitor type="test" class="net.noip.codebox.logmonitor.target.TestFileMonitor" />
		<monitor type="file" class="net.noip.codebox.logmonitor.target.FileMonitor" />
		<monitor type="log"  class="net.noip.codebox.logmonitor.target.LogFileMonitor" />
	</monitors>
	
	<!-- Most of these are self-explanatory, but be careful when changing them -->
	<configs>
		<config name="appName"             value="LogMonitor" />
		<config name="appVersion"          value="v0.4.1" />
		<config name="appLink"             value="https://github.com/rydavidson/LogMonitor" />
		<config name="appLinkText"         value="Accela Inc" />
		<config name="cookieLifeDays"      value="100" />
		<config name="styleCount"          value="10" />
		<config name="defaultLines"        value="3" />
		<config name="defaultInterval"     value="3" />
		<config name="defaultShowDividers" value="false" />
		<config name="defaultForeColour"   value="#000000" />
		<config name="defaultBackColour"   value="#FFFFFF" />
	</configs>
</logmonitor>